<div data-ng-controller ="totalviewController" data-ng-init="">

	<div class="container">
		<ul style="width:100%; list-style-type: none; padding:0; position: relative; ">
			<li style="float:left; padding-left:10px;" data-ng-repeat ="data in dataList">
				<table class ="table table-bordered" style="width:150px;">
					<thead>
					<tr>
						<th>
							<span>{{data.name}}</span>
						</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td class="info">
								<span>{{data.today}}</span>
							</td>
						</tr>
					</tbody>
				</table>				
			</li>			
		</ul>
	 
	</div>
	
</div>