<div ng-controller ="totalviewController" ng-init="">

	<div style = "width: 100%; height:100%; border:1px solid #EAEAEA; background-color:white; overflow: auto;" align="center">
		<ul style="width:100%; list-style-type: none; padding:0; position: relative; " ui-sortable="sortView" ng-model="manittoList">
			<li style="float:left; padding-left:10px;" ng-repeat ="data in dataList">
				<table style="border:1px solid blue; background-color: yellow">
					<tr>
						<td>
							<span>{{data.name}}</span>
						</td>
					</tr>
				</table>				
			</li>			
		</ul>
	 
	</div>
	
</div>